datasets==2.10.1
loralib==0.1.1
sentencepiece==0.1.97
transformers @ git+https://github.com/huggingface/transformers.git@3f96e0b4e483c4c7d4ec9dcdc24b0b0cdf31ea5c
accelerate==0.18.0
bitsandbytes==0.37.2
git+https://github.com/huggingface/peft.git@382b178911edff38c1ff619bbac2ba556bd2276b
gradio==3.27.0
gradio_client==0.1.3
appdirs==1.4.4
triton==2.0.0
texttable
