accelerate==0.18.0
altair==4.2.2
appdirs==1.4.4
bitsandbytes==0.37.2
datasets==2.11.0
loralib==0.1.1
sentencepiece==0.1.97
transformers @ git+https://github.com/huggingface/transformers.git@3f96e0b4e483c4c7d4ec9dcdc24b0b0cdf31ea5c
peft @ git+https://github.com/huggingface/peft.git@382b178911edff38c1ff619bbac2ba556bd2276b
gradio==3.27.0
music21
pydub
mido
IPython
